*{
    margin: 0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
}

nav{
    width: 100%;
    margin: 0 auto;
    background-color: rgb(47, 159, 92);
    position: sticky;
    top: 0px;
}

nav ul{
    display: flex;
    list-style-type: none;
    margin: 0px -10px;
}

nav ul li{
    flex: 1 1 auto;
    text-align: center;
    position: relative;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
    align-content: space-around;
    background-color: #0AD; /*Bleu*/
    width: 100%;
    height: 200px;
    border: 2px solid rgb(44, 44, 177);
    box-sizing: border-box;
}

nav a{
    display: block;
    text-decoration: none;
    color: rgb(94, 32, 170);
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav a:hover{
    color: orange;
    border-bottom: 2px solid gold;
}

.sous{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
nav > ul li:hover .sous{
    display: flex;
    flex-flow: column wrap;
}
.sous li{
    flex: 1 1 auto;
    text-align: left;
}
.sous a{
    padding: 10px;
    border-bottom: none;
}
.sous a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}
.deroulant > a::after{
    content:" ▼";
    font-size: 12px;
}

.conteneur{
  margin: 50px 20px;
  height: 1500px;
  
}

#currentpage{
    background-color: rgb(209, 31, 132);
    color : white
    position: absolute;
    width: 100%;
    z-index: 1000;
}

.conteneur-flexible{
    display: flex;
    font-size: 20px;
    background-color: #0AD; /*Bleu*/
    border: 2px solid blue;
    box-sizing: border-box;
    margin: 20px 0px;
}
h1{
    color: rgb(58, 149, 219);
    border: 2px solid rgb(145, 52, 26);
    padding: 5px;
}


